.hero-container{
    margin-top: 0;
}

.hero-movie-text-container{
    color: #fff;
    text-shadow: 1px 1px #000;
    max-width: 1280px;
}

.hero-movie-header{
    color: #fff;
    margin: 0;
    @media screen and (min-width: 1700px){
        font-size: 2.5em;
    }
}

.hero-movie-text{
    position: absolute;
    bottom: 0;
    padding: 1.5em;
}

.trending-link{
    @media screen and (min-width: 740px){
        font-size: 1.2em;
    }
    @media screen and (min-width: 1700px){
        font-size: 1.5em;
    }
}