.header{
    background: #1c1c1c;
    padding: 1em .7em;
}

.header-content{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.rmdb-logo{
   width: 200px;
    height: 50px;
    margin-right: auto;
}

.tmdb-logo{
    margin-left: auto;
}