.actor-image-container{
  margin: 1em;  
}

.actor-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 67%;
  height: auto;
  max-width: 300px;
}

.actor-info-container{
  color: #fff;
  padding: 1em;
  background: #1c1c1c;
}

.other-roles-title{
  padding: 2em;
  text-align: center;
}

.actor-name-heading{
  @media screen and (min-width: 992px) {
    font-size: 3em;
  }
}

.bottom-actor-info-container{
  @media screen and (min-width: 992px) {
    font-size: 1.3em;
  }
}