.movie-container{
    margin-top: 0;
}
.movie-backdrop-container {
   background-size: 100%, cover !important;
  background-position: center !important;
  width: 100%;
  height: 51em;
  background-repeat: no-repeat;
  animation: animateBackdropimage 1s;
}

@keyframes animateBackdropimage {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.movie-text-container{
    background: #1c1c1c;
}

.movie-text{
    max-width: 1280px;
    bottom: 0;
    padding: 1em 2em;
    color: #fff;
}

.movie-title{
    margin-top: 0;
}

.actor-details-container{
    padding: .5em;
}

.actor-list-container{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
}

.actor-image{
    border-radius: 6px !important;
}

.character-text{
    max-width: 150px;
}