// stylings for the headings of the pages
.page-heading{
    text-transform: capitalize;
    text-align: center;
}

// global wrapper
.wrapper{
    max-width: 960px;
}

// stylings for the list of movies returned from the API on all pages
.movie-poster{
    margin: .5em;
    border-radius: 6px !important;
}

h5{
    color: black;
    max-width: 154px;
}

.movie-list-container{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
}

// base stylings for buttons
.button{
    background: #1c1c1c !important;
    color: #03D474 !important;
    border: #03D474 1px solid !important;
}

.pagination-buttons{
    margin-right: 1em;
}

// base stylings for the movies on the home page
.home-movie-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.movie-header{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}

.movie-title{
    margin-left: .5em;
}

.link{
    text-decoration: none;
}