// stylings for the headings of the pages
.page-heading{
    text-transform: capitalize;
    color: #333;
    text-align: center;
    font-size: 1.75em;
    font-weight: 500;
    @media screen and(min-width: 740px){
        font-size: 2em;
    }

    @media screen and(min-width: 992px){
        font-size: 2.5em;
    }
}

// global wrapper
.wrapper{
    max-width: 960px !important;
    margin: 0 auto !important;
}

// base stylings for the movies on the home page
.home-movie-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.movie-header{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600
}

.link{
    text-decoration: none;
}

// stylings for the list of movies returned from the API on all pages
.movie{
    margin-bottom: 1.5em;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    margin: .5em;
    border-radius: 5px;
}

.movie-poster{
    margin: .5em;
    border-radius: 6px !important;
}

.movie-title{
    margin: .3em;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    color: #333;
    max-width: 154px;
}

.movie-list-container{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto !important;
}

.movie-title-header{
    text-align: center;
    @media screen and (min-width: 600px){
    font-size: 2.7em;
    }
}

.view-all-movie-container{
    @media screen and (min-width: 992px){
        margin-bottom: 4em;  
    }
}

// movie details stylings for the movie component
.movie-details-container{
    font-size: 1em;
    @media screen and (min-width: 992px){
    font-size: 1.2em;
    }
}

.bold-title{
    font-weight: 700;
}

// base stylings for buttons
.button{
    background: #1c1c1c !important;
    color: #03D474 !important;
    border: rgb(131, 228, 183) 1px solid !important;
    padding: .5em 1.1em;
    border-radius: 5px;
}

.pagination-buttons-container{
    margin: 2em;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 992px){
        margin: 5em;
    }
}

.pagination-buttons{
    margin-right: 1em;
    cursor: pointer !important;
}

.next{
    margin-left: 1em;
}

// stylings for the hero images of the movies
.hero-image-container {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  position: relative;
  animation: animateHeroimage 1s;
  @media screen and (min-width: 600px){
    height: 400px;
    }

  @media screen and (min-width: 740px){
    height: 600px;
    }

  @media screen and (min-width: 992px){
    height: 730px;
    }

  @media screen and (min-width: 1200px){
    height: 970px;
    }

  @media screen and (min-width: 1700px){
    height: 90vh;
    }
}

@keyframes animateHeroimage {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

// styling for links
.green-link{
    color: #01bc65;
}
