.search-bar-container{
    background-color: #1c1c1c;
    margin: auto 0;
}

.form-container{
    display: block !important;
    text-align: center;
}

.search-input{
    max-width: 15em !important;
}

.submit-button{
    background: #1c1c1c;
    color: #03D474;
    border: #03D474 1px solid;
}