.search-bar-container{
    background-color: #1c1c1c;
    display: flex;
    padding: 1em;
    justify-content: center;
}

.form-container{
    display: block !important;
    text-align: center;
}

.search-input{
    width: 70% !important;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.search-button{
    font-size: 1.2em;
    padding: .22em .45em;
    margin-left: .5em;
    border-radius: 5px;
}