.search-bar-container{
    background-color: #1c1c1c;
    margin: auto 0;
    padding: 1em;
}

.form-container{
    display: block !important;
    text-align: center;
}

.search-input{
    max-width: 29em !important;
    width: 100% !important;
    margin-right: .9em;
}

